@font-face {
    font-family: 'ArcherBoldPro';
    font-style: normal;
    font-weight: normal;
    src: local('ArcherBoldProv'), url('ArcherBoldPro.woff') format('woff');
}

h1 {
  font-family: 'ArcherBoldPro';
  font-weight: 200;
  color:#27679C;
}

.particles {
  position: fixed; 
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; /*con esto hago que las particulas este abajo de los componentes creados*/
}

